@import "./blogentry.css";
@import "./background.css";
@import "./card.css";


/* Project wide settings */
body {
  font: normal 16px sans-serif, Arial;
  background-color: linen;
}

header {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 10px;
  padding-left: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 60px;
  grid-area: head;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 10px;

  text-align: center;
  align-items: center;
  grid-area: navi;
  color: white;
}

img {
  border-radius: 10px;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px
}
/* button{
  border: none;
}

button:focus {
  outline:0;
} */

/*High level elements*/
.main-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 200px 50px 1000px 100px;
  grid-template-areas:
  "head head head head head head head head"
  "navi navi navi navi navi navi navi navi"
  "card card card card foto foto foto foto"
  "foot foot foot foot foot foot foot foot";
}

.nav {
  font-size: 22px;
  text-decoration: none;
  color: white;
}

.nav:hover {
  font-size: 22px;
  text-decoration: none;
  color: gainsboro;
}

.current-nav {
  font-style: italic;
  font-weight: bold;
}

.home-link {
  text-decoration: none;
  color: lavenderblush;
}

.photo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-area: foto;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  color: darkslategray;
}

/* Resposive design changes for smaller screens */
@media (max-width:901px) {
  .main-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 50px;
    grid-template-areas:
    "head head head head"
    "navi navi navi navi"
    "card card card card"
    "foto foto foto foto"
    "foot foot foot foot";
  }

  .nav {
    font-size: 18px;
  }
  .nav:hover {
    font-size: 18px;
  }
}
